* { margin:0px; padding:0px; }

html {
    background-color: black;
}

.mdl-button.mdl-button--colored {
    color: #81568F;
    font-weight: bolder;
}

.mdl-textfield__input {
    border-bottom: 1px solid rgb(255, 255, 255);
}


.main {
    /* sizing */
    width: 100%;
    height: 100%;
    margin: auto;
}

.logo-container {
    background-color: grey;
}

.logo {
    /* sizing */
    width: 40%;
    height: 100%;
}

.nav-container {
    background-color: darkgrey;
    justify-content: center;
    align-content: center;
}

.nav-item {
    margin-left: 5.5vw; margin-right: 5.5vw;
}

.body-container {
    height: auto;
    background-color: #404040;
}

.footer-container {
    background-color: darkgrey;
    height: auto;
    width: 95%;
    border-radius: 20px;
    text-align: center;
    align-self: end;
}

.mdl-card__supporting-text {
    color:#dbdbdb;
}

.e-round-corner {
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
   .main {
       width: 100%;
   }
   
   .logo {
       width: 70%;
   }
}