* { margin:0px; padding:0px; }

html {
    background-color: black;
}

.main {
    /* sizing */
    width: 80%;
    height: 100%;
    margin: auto;
    
    /* styling */
    background-color: grey;
}